@import url("https://fonts.googleapis.com/css2?family=Karla&family=Spectral:wght@300;700&display=swap");

/* Vars */
:root {
  /* Fonts */
  --headingFont: "Spectral", serif;
  --bodyFont: "Karla", sans-serif;
  --smallText: 0.8rem;
  /* Background Colors */
  --backgroundColor: var(--grey-50);
  /* Text Colors */
  --textColor: var(--grey-900);
  /* Rest Of Vars */
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: all 0.3s ease-in-out;
  --maxWidth: 1170px;
  --fixedWidth: 600px;
  /* Box Shadow */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
  scroll-behavior: smooth;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headingFont);
  font-weight: 600;
}

/* Body */
body {
  font-family: var(--bodyFont);
  font-weight: 400;
}

/* Paragraphs */
p {
  max-width: var(--fixedWidth);
}

/* Utilities */
.height-100 {
  min-height: 100vh;
}

.height-80 {
  min-height: 80vh;
}

.height-70 {
  height: 70vh;
}

.title-underline {
  height: 0.2rem;
  width: 100px;
  margin: 0 auto;
}

.text-shadow {
  text-shadow: 0.2rem 0.3rem 10px black;
}

.cover {
  object-fit: cover;
}

.bg-secondary-grey {
  background: #e5e5e5;
}

/* SUB PAGES UTILTIES */
.page-paragraph {
  background: rgba(255, 193, 7, 0.7);
}

.radius {
  border-radius: 1.5rem;
}

/* 
=========
HOME PAGE
=========
*/

/* 
=======
Navbar
=======
*/
.logo-img-container {
  font-size: 1.1rem;
}

.logo-img {
  height: 3rem;
}

.navbar-switch {
  transition: all 0.4s linear;
  box-shadow: var(--shadow-2);
}

.nav-item {
  transition: all 0.3s linear;
}

.nav-item:hover {
  background: rgb(255, 193, 7);
}

.nav-item:hover .nav-link {
  padding-left: 1.3rem;
}

.nav-item:hover .nav-last {
  padding-left: 0.5rem;
}

.nav-link.scroll-link,
.nav-link.nav-page {
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.nav-link.nav-last {
  padding: 0.5rem 0;
  transition: all 0.3s linear;
}

/* Navbar Dropdown Items */
.dropdown-menu .dropdown-item:hover {
  background: rgb(255, 193, 7);
  color: #fff;
}

@media screen and (min-width: 345px) {
  .logo-img-container {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 400px) {
  .logo-img-container {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 576px) {
  .logo-img-container {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  .logo-img-container {
    font-size: 1rem;
  }
  .nav-item:hover {
    background: transparent;
  }
  .nav-item:hover .nav-link {
    padding: 0.5rem;
  }
  .nav-item:hover .nav-last {
    padding: 0.5rem;
  }
  .nav-item .nav-link.nav-page,
  .nav-item .nav-link.nav-last {
    color: #fff;
    font-size: 1.3rem;
    margin-right: 0.5rem;
  }
  .nav-item .nav-link.nav-page:hover,
  .nav-item .nav-link.nav-last:hover {
    color: rgb(255, 193, 7);
  }
  .nav-item .nav-link.nav-page:focus,
  .nav-item .nav-link.nav-last:focus {
    color: #fff;
  }

  .nav-item .nav-link.nav-page.scroll-down:hover,
  .nav-item .nav-link.nav-last.scroll-down:hover {
    color: #222;
  }
}

@media screen and (min-width: 1200px) {
  .logo-img-container {
    font-size: 1.5rem;
  }
  .nav-item .nav-link.nav-page,
  .nav-item .nav-link.nav-last {
    font-size: 1.5rem;
    margin-right: 0.7rem;
  }
}

/* 
=======
Header
=======
*/
#header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/bcg-hero.jpeg") no-repeat center/cover;
  height: 100vh;
}

/* 
=====
About
=====
*/
.about-picture {
  background: url("../img/about.jpg") no-repeat center/cover fixed;
}

@media screen and (min-width: 768px) {
  .about-picture {
    background-attachment: scroll;
  }
}

/* 
========
Projects
========
*/
.project-img-container {
  min-height: 280px;
}

.modal-btn {
  position: relative;
}

.project-heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Modal Styles */
.modal-dialog {
  height: 97vh;
  box-shadow: var(--shadow-2);
}

.modal-show {
  height: calc(100vh - 73px);
}

.modal-img-1 {
  object-fit: cover;
}

@media screen and (min-width: 1200px) {
  .modal-show {
    height: calc(100% - 79px);
  }
}

/* 
========
Services
========
*/
.img-height {
  min-height: 241px;
  object-fit: cover;
}

.card-footer-link {
  color: #fff;
  transition: all 0.3s linear;
}

.card-footer .card-footer-link:hover {
  color: #ffc107;
}

/* 
===========
Work Examples
===========
*/
.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  margin-right: 0.5rem !important;
}

.carousel-height {
  max-height: 500px;
  object-fit: cover;
}

.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

/* 
===========
Info Filler
===========
 */
#info {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/wood-plank.jpg") no-repeat center/cover fixed;
  min-height: 500px;
}

/* 
===========
Categories
===========
*/
#categories {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/roof-truss-bck.jpg") no-repeat center/cover;
}

.categories-card {
  max-width: 350px;
}

.categories-img-container,
.categories-img {
  height: 250px;
  width: 250px;
}

.categories-img {
  object-fit: cover;
  transition: transform 1s linear;
}

.categories-img:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 992px) {
  .categories-img-container,
  .categories-img {
    width: 200px;
    height: 200px;
  }
  .categories-title {
    font-size: 30px;
  }
}

/* 
=================
Expertise Section
=================
*/
.expertise-card {
  border-radius: 1.5rem;
}

.expertise-icon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  padding: 0.7rem;
  border: 2px solid #222;
}

/* 
===================
Experience Section
===================
*/
#experience {
  background: linear-gradient(
    to right,
    #fff 0 20%,
    rgb(255, 193, 7) 20% 80%,
    white 80% 100%
  );
}

.experience-img-container {
  max-width: 300px;
  margin-left: 1.5rem;
}

.experience-card {
  max-width: 300px;
  margin-left: 5.5rem;
  margin-top: -1.5rem;
  border-radius: 0;
}

@media screen and (min-width: 400px) {
  .experience-img-container {
    margin-left: 3.5rem;
  }
}

@media screen and (min-width: 768px) {
  .experience-img-container,
  .experience-card {
    max-width: 400px;
  }
}

@media screen and (min-width: 992px) {
  .experience-img-container,
  .experience-card {
    max-width: 600px;
    margin: 0;
  }
  .experience-card {
    margin-left: -4rem;
  }
}

/* 
========================
Project Planning Section
========================
*/
#project-planning {
  background: url("../img/project-planning.jpg") no-repeat center/cover;
}

/* 
================
Contact Section
================
*/
.contact-input,
.contact-input-btn {
  border-radius: 10px;
}

/* 
===========================
ADDITIONS AND ADD ONS PAGE
===========================
*/
/* 
======
Header
======
*/
#header-addons {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/add-ons-bcg-2-min.jpg") no-repeat center/cover;
}

/* 
===============
NEW HOMES PAGE
===============
*/
/* 
======
Header
======
*/
#header-newhomes {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/new-homes-bcg-1-min.jpg") no-repeat center/cover;
  height: 100vh;
}

/* 
================
Step One Section
================
*/
.number-box {
  height: 10rem;
  font-size: 10rem;
}

@media screen and (min-width: 768px) {
  .number-box {
    height: auto;
  }
}

/* 
==================
New Homes Projects
==================
*/
#new-homes-projects {
  background: linear-gradient(to right, #fff 0 35%, #ffc107 35% 100%);
}

.new-homes-card {
  margin-top: -3rem;
}

.social-icons-new-homes a {
  margin-right: 0.5rem;
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .new-homes-card {
    margin-top: -5rem;
  }
}

@media screen and (min-width: 992px) {
  .new-homes-card {
    margin-top: -7rem;
  }
}

/* 
=================
Diffrent Builders
=================
*/
#builder-man {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/remodels-addonsw-builder-man-min.jpg") no-repeat center/cover;
}

.divider {
  background: linear-gradient(to right, #ffc107, #262626);
  height: 0.3rem;
}

.builder-man-card {
  background: rgba(255, 193, 7, 0.6);
}

@media screen and (min-width: 576px) {
  .builder-man-text {
    line-height: inherit !important;
  }
}

/* 
================
HOME REPAIR PAGE
================
*/
/* 
======
Navbar
======
*/
.navbar-home-repair {
  background: #222;
}

/* 
======
Header
======
*/

@media screen and (min-width: 768px) {
  .home-repair-guy {
    transform: rotateY(180deg);
  }
}

/* 
=====
About
=====
*/
.bg-secondary-light {
  background: #f2f2f2;
}

/* 
==============
Repair Contact
==============
*/
.repair-contact-container {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

/* 
===============
Services Repair
===============
*/
@media screen and (min-width: 768px) {
  .repair-card {
    height: 252px;
  }
}

/* 
============================
Home Services Filler Section
============================
*/
#home-repair-filler {
  background: #abb686;
}

.home-repair-filler-p {
  max-width: 600px;
}

/* 
====================
OUTDOOR LIVING PAGE
====================
*/

/* 
======
Header
======
*/
#outdoor-living {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/outdoor-living-bcg-min.jpg") no-repeat center/cover;
  height: 100vh;
}

/* 
===================
Outdoor Living Grid
===================
*/
.living-item {
  height: 370px;
}

.living-img {
  object-fit: cover;
}

/* 
============
High Quality
============
*/
.high-quality-img {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/porch-1.jpg") no-repeat center/cover;
  height: 100vh;
}

.hq-cont {
  transform: translateY(-5rem);
}

@media screen and (min-width: 576px) {
  .porch-img {
    height: 227px;
  }
}

/* 
===============
Outdoor About
===============
*/
#outdoor-about {
  background: #242c53;
}

/*
======
Pride
======
*/
.top-img {
  margin-top: -3rem;
  z-index: 2;
}

.patio-img {
  min-height: 275px;
  object-fit: cover;
}

.back-block {
  height: 25rem;
  margin-top: -15rem;
  z-index: 0;
}

.outdoor-card {
  z-index: 3;
  max-width: 500px;
  margin-top: -18rem;
  margin-left: 4rem;
}

@media screen and (min-width: 576px) {
  .outdoor-card {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .patio-img {
    min-height: 300px;
  }
  .back-block {
    margin-top: -20rem;
  }
  .outdoor-card {
    margin-top: -20rem;
  }
}

/* 
=============
PAINTING PAGE
=============
*/

/* 
===============
Painting Header
===============
*/
#painting-header {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url("../img/painting-bcg.jpg") no-repeat 70% 50% / cover;
}

.painting-info {
  margin-top: 8rem;
}

@media screen and (min-width: 768px) {
  .paint-img {
    min-height: 231px;
    object-fit: cover;
  }
}

/* 
=============
Painting Jobs
=============
*/
.paint-job-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/* 
=============
Paint Repairs
=============
*/
#paint-repairs {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/painting-repairs.jpg") no-repeat top/cover;
}
/* 
==========
Paint Tips
==========
*/
.paint-tip-img {
  height: 313px;
  object-fit: cover;
}

/* 
=============
PLUMBING PAGE
=============
*/
/* 
===============
Header Plumbing
===============
*/
#header-plumbing {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/plumbing-header-min.jpg") no-repeat center/cover;
}

.plumbing-info {
  margin-top: 4rem;
}

/* 
================
About Plumbing
================
*/
.secondary-plumbing-img {
  max-height: 552px;
  object-fit: cover;
}

.about-plumber-card {
  background: #62aafb;
}

@media screen and (min-width: 768px) {
  .main-plumbing-img {
    max-height: 330px;
    object-fit: cover;
    margin-top: 3rem;
  }
}

/* 
=============
Fast Plumbing
=============
*/
.fast-plumbing-col::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 100%;
  height: 100%;
  background: #ffc107;
  z-index: 0;
}

.fast-plumbing-img {
  z-index: 2;
  max-height: 443px;
}

@media screen and (min-width: 576px) {
  .fast-plumbing-col::after {
    top: -2rem;
    left: -2rem;
  }
}

/* 
===================
Affordable Plumbing
===================
*/
.affordable-img-container-1,
.affordable-img-container-2 {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.affordable-img-container-1 {
  right: 0.7rem;
}

.affordable-img-container-2 {
  left: 0.7rem;
}

@media screen and (min-width: 576px) {
  .affordable-ul {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 676px) {
  .affordable-ul {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1170px) {
  .affordable-ul {
    font-size: 1.5rem;
  }
}
